@model LearningMpaAbp.Web.Models.Tasks.IndexViewModel
<div>
    <ul class="list-group">
        @foreach (var task in Model.Tasks)
            {
            <li class="list-group-item">
                <a href="javascript:void(0)" onclick="deleteTask(@task.Id);">
                    <span class="pull-right label @Model.GetTaskLable(task)">@L(string.Format("TaskState_{0}", task.State))</span>
                    <h4 class="list-group-item-heading">@task.Title</h4>
                    <div class="list-group-item-text">
                        @task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")
                    </div>
                </a>
            </li>
        }
    </ul>
</div>