@model LearningMpaAbp.Web.Models.Tasks.IndexViewModel
<div>
    <ul class="list-group">
        @foreach (var task in Model.Tasks)
            {
            <li class="list-group-item">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-info" onclick="editTask(@task.Id);">Edit</button>
                    <button type="button" class="btn btn-success" onclick="deleteTask(@task.Id);">Delete</button>
                </div>

                <h2 class="list-group-item-heading">@task.Title</h2>
                <h4 class="label @Model.GetTaskLable(task)">@L(string.Format("TaskState_{0}", task.State))</h4>
                <div class="list-group-item-text">
                    <span class="text-muted">@task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")</span>
                </div>

            </li>
        }
    </ul>
</div>