@using Abp.Web.Mvc.Extensions
@model LearningMpaAbp.Web.Models.Tasks.IndexViewModel

@{
    ViewBag.Title = L("TaskList");
    ViewBag.ActiveMenu = "TaskList"; //Matches with the menu name in SimpleTaskAppNavigationProvider to highlight the menu item
}

@section scripts{
    @Html.IncludeScript("~/Views/Tasks/index.js");
}
<h2>
    @L("TaskList")

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">
        Create Task
    </button>

    <span class="pull-right">
        @Html.DropDownListFor(
      model => model.SelectedTaskState,
      Model.GetTaskStateSelectListItems(),
      new
      {
          @class = "form-control",
          id = "TaskStateCombobox"
      })
    </span>
</h2>

<div class="row" id="taskList">
    @{ Html.RenderPartial("_List", Model);}
    @*<div>
            <ul class="list-group">
                @foreach (var task in Model.Tasks)
                {
                    <li class="list-group-item">
                        <a href="javascript:void(0)" onclick="editTask(@task.Id);">
                            <span class="pull-right label @Model.GetTaskLable(task)">@L(string.Format("TaskState_{0}", task.State))</span>
                            <h4 class="list-group-item-heading">@task.Title</h4>
                            <div class="list-group-item-text">
                                @task.CreationTime.ToString("yyyy-MM-dd HH:mm:ss")
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>*@
</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="PersonCreateModalLabel" data-backdrop="static">


    @{
        Html.RenderPartial("_CreateTask", Model.CreateTaskInput);
    }

</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="PersonEditModalLabel" data-backdrop="static">

</div>



